<!DOCTYPE html>
<html>
    <head>
        <title>My Django Blog</title>
        <meta name = "Muaaz Chowdhury" content="HTML, CSS, Django">
    </head>
    <body>
        <header>
                <div class="nav-left">
                    <h1><a href = "{% url 'post_new' %}">Creat a new blog post</a></h1>
                </div>
                <div class="nav-right">
                    <h1><a href = "{% url 'home' %}">Django blog home</a></h1>
                </div>
            </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>