<!-- <!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Blog post</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
        rel="stylesheet">
        <link href="{% static 'css/home.css' %}" rel = "stylesheet">
    </head>
    
    <body>
        <header>
            <h1>Blog post homepage</h1>
        </header>
        <ul>
            {% for post in all_blog_posts %}
            <li>
                <h2><b>{{post.title}}</b></h2> {{post.body}} {{"--"}} <i>{{post.author.get_username}}</i>
            </li>
            {% endfor %}
        </ul>
    </body>
</html> -->